
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todolist_list %}
                        <tr>
                            <td>
                            <a href="{% url 'todolist_detail' todo.pk %}">{{todo.name}}</a>
                            </td>
                            <td>
                            <a href="{% url 'todolist_detail' todo.pk %}">{{items|length}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </main>
    </body>
</html>
